/* 
========================================== 
General CSS
========================================== 
*/
html {
  cursor:none;
  scroll-behavior: smooth;
}
:root {
  --ignytpurple: #36193e;
  --headingcolor: #35183d;
  --ignytblack: #222;
  --bodyFont: "DM Sans", sans-serif;
  --baseFont: 16px;
  --ignytorange: #ff5722;
  --paracolor: #555;
  --pp: "PP Formula Compressed";
}
html,
body {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@font-face {
  font-family: "PP Formula Compressed";
  src: url("../font/PPFormula-CondensedBlack.woff2") format("woff2"),
    url("PPFormula-CondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--bodyFont);
  font-display: swap;
  line-height: 150%;
  margin: 0px;
  padding: 0;
  font-weight: 400;
  overflow-x:hidden;
}
.container-fluid {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 45px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--ignytpurple);
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  cursor: none;
}
h1 {
  font-size: 134.5px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  font-family: "PP Formula Compressed";
}
h2 {
  font-size: 86px;
  line-height: 84px;
  font-weight: 900;
  color: var(--headingcolor);
  font-family: "PP Formula Compressed";
  text-transform: uppercase;
}
h3 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48.5px;
  color: var(--ignytpurple);
}
h4 {
  font-size: 28px;
  font-weight: 900;
  line-height: 32px;
  color: var(--ignytpurple);
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
h5 {
  font-size: 22px;
  font-weight: 900;
  line-height: normal;
}
h6 {
  font-size: 16px;
  font-weight: 700;
  line-height: 21.5px;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
p {
  font-size: var(--baseFont);
  font-weight: 400;
  margin: 0px;
  line-height: 150%;
  color: #555;
}
p.font-14 {
  font-size: 14px;
  line-height: 150%;
}
p.small {
  font-size: 12px;
  line-height: 150%;
}
p.small-med {
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}
a:focus {
  text-decoration: none;
  outline: none;
  cursor: none;
}

.custom_btn {
  padding: 10px 45px;
  margin: 10px 4px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  color:#fff;
  font-family: DM Sans;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 15px */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.custom_btn {
  /* top: 40px; */
  background: #FF5722;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background: transparent!important; */
  z-index: 10;
}

.custom_btn:hover {
  /* border: 1px solid #071982; */
  color: #fff !important;
}
.custom_btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #36193E;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.custom_btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #EFEAE3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.custom_btn:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.custom_btn:hover::after,
.custom_btn:hover::after {
  opacity: 1;
  width: 120%;
}
button {
  cursor: none;
  border: none;
}
button:focus {
  cursor: none;
}


.height_100vh {
  height: 100vh;
}

/* cursor start */

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 999;
  pointer-events: none;
  /* opacity: */
  /* border: 1px solid red; */
}
.cursor div {
  position: absolute;
  top: 5px;
  left: 5px;
  display: grid;
  /* border: 1px solid black; */
  place-items: center;
}
.cursor div div {
  border: 1px solid #ff6c26;
  border-radius: 50%;
  animation: pulse 2.5s linear infinite;
  /* box-shadow: 0 0 50px 5px #56204e; */
}
.cursor div:nth-child(1),
.cursor div:nth-child(2) {
  width: 100%;
  height: 100%;
}
.cursor div:nth-child(1) {
  transition: transform 0.2s ease-out;
}
.cursor div:nth-child(2) {
  transition: transform 0.1s ease-out;
}
.cursor div:nth-child(2) div {
  background: #ff6c26;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
/* cursor ends */



/* header start */
.main_header {
  position: absolute;
  z-index: 99;
  width: 100%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.main_header.show {
  transform: translateY(0);
  background:linear-gradient(72deg, #35183d 20.75%, #56204e 113.08%);
}

/* .main_header .container-fluid {
  max-width: 100%;
  margin: 0px;
  padding: 0px 45px;
} */

.header_inner {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  /* background: linear-gradient(72deg, #35183d 20.75%, #56204e 113.08%); */
}
.navbar_main {
  display: flex;
  column-gap: 16px;
  align-items: center;
}
.navbar_text p {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 700;
}
.navbar_icon a {
  color: #fff;
  font-size: 24px;
  width: 24px;
}
/* header ends */

/* banner section start */
.banner {
  /* border: 1px solid red; */
  background: linear-gradient(72deg, #35183d 20.75%, #56204e 113.08%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.banner .container-fluid {
  /* max-width:100%;
  margin: 0px; */
  padding: 0px 45px;
  position: relative;
  /* border: 1px solid red; */
}
.banner_main {
  display: flex;
  /* border: 1px solid black; */
  justify-content: space-between;
  align-items: center;
  column-gap: 22px;
}
.banner_left {
  width: 80%;
  /* border: 1px solid red; */
  position: relative;
}
.banner_right {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  height: 100%;
  margin-bottom: 22px;
  width: 20%;
  position: relative;
}
.bl_top {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
  align-items: baseline;
  column-gap: 10px;
}
.bl_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.pt_img {
  position: relative;
  height: 0;
  overflow: hidden;
}
.pt_img img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  inset: 0;
}
.pt_img1 {
  width: 62%;
  padding-top: 10%;
}
.pt_img2 {
  width: 73%;
  padding-top: 10%;
}

.pt_img3 {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 86%;
}
.pt_img3 img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.pt_img4 {
  position: relative;
  height: 0;
  overflow: hidden;
  width: 100%;
  padding-top: 86%;
}
.pt_img4 img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.br_second {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  /* border: 2px solid red; */
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.br_second img {
  position: absolute;
}
.br_second .vid_con {
  position: relative;
  overflow: hidden;
  /* border: 2px solid rgb(38, 0, 255); */
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.br_second .vid_con video {
  position: relative;
  object-fit: cover;
  z-index: -1;
}
.brs_img {
  overflow: hidden;
  /* border: 1px solid red; */
  position: relative;
}
.brs_img img {
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
  position: absolute;
}

/* banner section ends */

/* organic marketing section start */
.organic_main {
  padding: 92px 120px;
}
.organic_main h2 {
  color: #220e28;
}
.omt_heading span {
  display: none;
}
.omt_para {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.omt_para p {
  max-width: 50ch;
  font-size: 14px;
}
.om_bottom p span {
  color: var(--ignytorange);
  font-weight: 700;
}
.omb_para1 {
  max-width: 42ch;
}
.omb_para2 {
  margin-top: 15px;
  max-width: 54ch;
}
.omb_btn .custom_btn {
  margin-top: 40px;
}
.sp {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  /* column-gap: 100px; */
}
/* organic marketing section ends */


/* slider section */
.slider_main2{
  /* margin-top: 60px; */
  display: flex;
  column-gap: 16.82px;
  column-gap: 160px;
}
.slider_main2 .item{
  border-radius: 27.097px;
  overflow: hidden;
  /* border: 1px solid red; */
}










/* mark section start */
.mark_section {
  /* border: 1px solid red; */
  background-color: #efeae3;
  overflow: hidden;
}
.ms_main {
  height: 100vh;
  width: 100%;
  position: relative;
  /* border: 2px solid white; */
  display: flex;
}
.ms_main .line1 {
  height: 100%;
  width: 0.5px;
  background: #aba499;
  position: absolute;
}
.ms_main .msm_l2 {
  background: #aba499;
  height: 100%;
  width: 0.5px;
  position: relative;
  /* left: 46%; */
}
.msm_left {
  /* border: 1px solid orange; */
  width: 50%;
  position: relative;
  /* overflow: hidden; */
}
.msm_left .item {
  position: absolute;
  z-index: 9;
  /* border: 1px solid red; */
}
.msmli2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.msm_right {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.msmr_text {
  /* border: 1px solid black; */
}
.msmrt_heading h3 {
  font-family: var(--pp);
  text-transform: uppercase;
}
.msmrt_para {
  margin-top: 37px;
}
.msmrt_para span {
  color: #ff6c26;
  font-weight: 700;
}
.msmrt_list {
  margin: 22px 0px 31px 0px;
}
.msmrt_list ul {
  list-style: disc;
  /* border: 1px solid red; */
  padding-left: 3%;
  color: #aba499;
}

/* mark section ends */

/* client section start */

.client_section {
  background: #efeae3;
  height: 100vh;
  position: relative;
  overflow: hidden;
  /* border: 1px solid #ff5722; */
}
.c_main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 100vh;
  position: relative;
}
.c_inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  column-gap: 60px;
  /* border: 1px solid #36193e; */
  width: 100%;
  position: relative;
}
.c_inner .line1 {
  height: 100%;
  width: 0.5px;
  background: #aba499;
  position: absolute;
  top: -310px;
}
.ci_left {
  width: 35%;
  height: 100%;
  /* border: 1px solid yellowgreen; */
  position: relative;
  top: 0;
  left: -20px;
  display: flex;
  align-items: flex-end;
}
.cil_main {
  /* border: 1px solid red; */
}
.cil_text {
  margin-top: 20px;
}
.ci_right {
  /* border: 1px solid red; */
  position: relative;
  /* top: 0; */
  width: 65%;
}
.ci_right .cir_main {
  display: flex;
  column-gap: 30px;
  /* width: 70%; */
  /* position: relative; */
}
.cir_card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: #fff;
  min-width: 390px;
}
.circ_heading h5 {
  text-transform: uppercase;
  font-family: var(--pp);
}
.circ_para p {
  font-size: 14px;
  margin-top: 20px;
}
.circ_name {
  margin-top: 40px;
}
.circ_name p {
  font-size: 9px;
}
.circ_logo {
  margin-top: 17px;
}

/* client section ends */

/* blur section start */
.blur_section {
  padding-bottom: 60px;
  /* height: 100vh; */
  /* border: 1px solid red; */
}
.bm_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 53px;
}
.bmt_heading h4 {
  max-width: 30ch;
}
.bmt_para p {
  max-width: 56ch;
}
.heading {
  line-height: 100px;
  text-align: center;
  /* color:none; */
  color: rgba(195, 195, 195, 0.6);
}
.bm_btm {
  margin-top: 250px;
}
.bm_btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 63px;
}

/* blur section ends */

/* team section start */
.team_section {
  /* height: 100vh; */
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.team_section .team_main,
.team_section .tm_item {
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
  background: #220e28;
}
.team_section .tmi {
  position: relative;
  width: 100vw;
  border: 2px solid #220e28;
}

.tmi2_text {
  background: url("../img/Group\ 17211506.png");
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 0;
  margin: auto;
}
.tmi2_text p {
  font-size: 42vw;
  height: 100%;
  font-family: var(--pp);
  font-weight: 900;
  margin: auto;
  padding: 0%;
}
.tmi2_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  position: absolute;
  bottom: 0%;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}
.tmi2b_inner {
  padding: 140px 45px;
  background-color: #fff;
  width: 50%;
}
.tmi2bi_heading {
  margin: 23.43px 0px;
  font-family: var(--pp);
  text-transform: uppercase;
}
.tmi2bi_btn {
  margin-top: 34px;
}

/* team section ends */

/* project_section start */

.project_section {
  background: #efeae3;
  /* border: 1px solid red; */
  padding: 76px 0px 140px 0px;
}
.psmt_para p {
  color: #220e28;
  font-family: var(--pp);
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  text-transform: uppercase;
}
.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 2.778px;
  margin: 5px 5px;
  background: #bdac93;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #35183d;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 36px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  cursor: none;
}
.oc_main {
  position: relative;
  width: 100%;
  margin-top: 41px;
  display: flex;
  justify-content: center;
}
.ocm_item {
  display: flex;
  width: 100%;
  position: relative;
  align-items: stretch;
}
.oci_left {
  /* width: 40%; */
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 50%;
  overflow: hidden;
  transition: .4s width ease;
  z-index: 1;
  transition-delay: 0.2s;
}
.oci_left img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
.oci_right {
  background-color: #fff;
  padding: 24px 19px 86px 40px;
  width: 60%;
  /* display: none; */
  position: absolute;
  right: 0;
  /* display: none; */
}

.owl-item.active .oc_main .oci_left {
  width: 40%;
}
.owl-item.active .oc_main .oci_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
}
.owl-item.active .ocir_btm.trans h3 {
  transform: translateX(0%);
}
.owl-item.active .ocir_btm.trans h6 {
  transform: translateX(0%);
}
.owl-item.active .ocir_btm.trans p {
  transform: translateX(0%);
}
.owl-item.active .ocir_btm.trans button {
  transform: translateX(0%);
}

.ocir_top {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
}
.ocir_top a {
  background-color: #efeae3;
  padding: 0px 9.8px;
  font-size: 12px;
  color: #222;
  /* line-height: 94px; 783.333% */
  letter-spacing: 0.96px;
}
.ocir_btm h3 {
  color: #222;
  font-family: var(--pp);
  text-transform: uppercase;
  opacity: 0;
}
.owl-item.active .ocir_btm h3 {
  opacity: 1;
}
.ocir_btm h6 {
  margin-top: 18px;
}
.ocir_btm p {
  margin-top: 23px;
}
.ocir_btm .custom_btn {
  margin-top: 33px;
}

.psm_blog {
  margin-top: 154px;
}
.psmbtm_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.psmbtm_left h3 {
  color: #222;
  font-family: var(--pp);
  /* font-size: 48px; */
  font-style: normal;
  font-weight: 900;
  /* line-height: 100%; 101.042% */
  padding-top: 10px;
  text-transform: uppercase;
}
.psmbtm_card {
  /* border: 1px solid red; */
  /* display: flex;
  justify-content:space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 37px;
  position: relative;
  column-gap: 35px;
}
.psmbtm_item {
  /* min-width: 392px; */
  position: relative;
}
.psmbtmi_top {
  background-color: #fff;
  padding: 19px 17px;
  position: absolute;
  left: 16px;
  top: 20px;
  z-index: 2;
  width: 92%;
  max-height: 180px;
}
.psmbtmi_top .para1 {
  text-transform: uppercase;
  color: #fb5a0d;
  font-family: var(--pp);
  font-size: 28.357px;
  font-weight: 900;
  line-height: 93.7%;
  letter-spacing: 1.134px;
}
.psmbtmi_top .para2 {
  margin-top: 9px;
  font-size: 12px;
  max-width: 44ch;
  max-height: 95px;
  overflow: auto;
}
.psmbtmi_btm {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 100%;
}
.psmbtmi_btm img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}

/* project_section ends */

/* moto section  */
.moto_main {
  padding: 90px 0px;
  position: relative;
}
.mm_text_bottom {
  display: flex;
  justify-content: center;
}
.mm_text_bottom p {
  color: #f8f5f2;
  font-family: var(--pp);
  font-size: 360.254px;
  font-weight: 900;
  line-height: 100%;
  text-transform: uppercase;
}
.mm_text_top {
  position: absolute;
  top: 38%;
  left: 26%;
  z-index: 2;
}
.mm_text_top h3 {
  font-family: var(--pp);
  text-transform: uppercase;
}
.mm_text_top p {
  color: #555;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 55ch;
}
.mm_btm {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.mmbtm_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.mmbtml_text p {
  font-size: 12px;
  line-height: 15.5px;
  letter-spacing: 1.44px;
}
.mmbtm_heading {
  margin-top: 23px;
}
.mmbtm_heading h3 {
  font-family: var(--pp);
  text-transform: uppercase;
  max-width: 24ch;
}
.mmbtm_text_btm {
  margin-top: 24px;
}
.mmbtm_text_btm p {
  max-width: 54ch;
}
.mmbtm_text_btm p span {
  color: #ff6c26;
  border-bottom: 1px solid #ff6c26;
  margin-right: 14px;
}
.mmbtm_text_btm p i {
  padding-right: 4px;
}
.mmbtm_right {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.mmbtmr_inner {
  height: 0;
  width: 93%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.mmbtmr_inner img {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  object-fit: cover;
}
/* moto section ends */

/* result section start */
.result_section {
  background-color: #220e28;
  height: auto;
}
.result_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 119px 0px;
}
.rm_top {
  display: flex;
  column-gap: 18px;
  width: 100%;
  justify-content: space-between;
  /* border: 1px solid yellow; */
}
.rmt_left {
  display: flex;
  flex-direction: column;
  width: 65%;
  /* border: 1px solid wheat; */
}
.rmt_right {
  display: flex;
  column-gap: 21px;
  width: 35%;
  height: 100%;
  /* border: 1px solid red; */
  padding-bottom: 0px;
}
.rmtr_item1 {
  /* border: 1px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}
.rmtr_item2 {
  height: 100%;
}
.rmtr_item2 img {
  height: 100%;
  width: 100%;
}
.rmtri_txt h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "PP Formula Compressed";
  max-width: 8ch;
}
.rmtl_top {
  width: 100%;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.rmtl_top div span,
.rmtl_bottom div span {
  font-size: 134.5px;
  font-weight: 900;
  line-height: 94%;
  text-transform: uppercase;
  color: #fff;
  font-family: "PP Formula Compressed";
}
.rmtri_img {
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 50%;
  /* margin: auto; */
}
.rmtri_img img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  inset: 0;
}
.rmtlt_img {
  width: 40%;
}
.rmtlt_img img {
  width: 100%;
}
.rmtl_bottom {
  display: flex;
  justify-content: space-between;
}
.rm_bottom {
  margin-top: 98px;
}
/* result section ends */

/* footer start */

.main_footer {
  background-color: #efeae3;
}
.main_footer .container-fluid {
  /* max-width: 100%; */
  /* margin: 0px; */
  padding: 0 60px;
}
.ft_main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 37px;
}
.main_footer ul li {
  color: var(--ignytpurple) !;
}
.main_footer ul li a {
  position: relative;
  transition: 0.5s ease all;
  display: inline-block;
  overflow: hidden;
}
/* .main_footer ul li a::after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--ignytpurple);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.main_footer ul li a::after {
  transform: scale(0, 1);
  transform-origin: 0% 100%;
  transition: 0.5s ease all;
}
.main_footer ul li a:hover::after {
  transform: scale(1, 1);
} */
.main_footer ul li a:hover {
  color: var(--ignytorange);
}
.footer_top {
  padding-top: 45px;
  border-bottom: 0.5px solid #35183d;
  padding-bottom: 40px;
}
.footer_top .ft_main .ftm_item .ftm_list ul {
  margin-top: 24px;
}
.footer_top ul li {
  margin-top: 11px;
}
.ftml_heading p {
  color: #8d8d84;
  font-size: 10px;
  margin-top: 14px;
}
.input_field {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.input_field input {
  border-radius: 4px;
  border: 0.5px solid #555;
  background: #fff;
  padding: 12px 14px;
  width: 100%;
  margin-top: 9px;
}
.input_field input::placeholder {
  color: #555;
  font-weight: 400;
  line-height: 24.5px; /* 175% */
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
}
.input_field input:focus {
  outline: none;
}
.ftml_email {
  margin-top: 10px;
}
.ftml_email span p {
  display: inline-block;
  letter-spacing: 1.75px;
}
.ftm_btn {
  margin-top: 31px;
}
.fb_item1 {
  display: flex;
  justify-content: center;
  letter-spacing: 1.75px;
}
.fb_item1 ul {
  display: flex;
  column-gap: 33px;
}
.ftml_socialicon {
  display: flex;
  column-gap: 12px;
  margin-top: 20px;
  transition: 0.5s ease all;
}
.ftml_socialicon img {
  transition: 0.5s ease all;
}
.ftml_socialicon img:hover {
  transform: scale(1.2);
}
.ftmls_item img {
  height: 33px;
  width: 33px;
}
.ftml_img {
  margin-top: 22px;
  display: flex;
  column-gap: 21px;
  align-items: end;
}
.ftml_img .img1 {
  height: 52px;
  width: 52px;
}
/* .ftml_img .img2{
  height:58px;
  width:32px;
} */
.footer_bottom {
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
}
.footer_bottom .fi {
  margin-top: 40px;
}
.footer_bottom .fi:last-child {
  margin-top: 0px;
}
.fb_item1 ul li a {
  text-transform: uppercase;
}
.fb_item2 {
  display: flex;
  justify-content: center;
}
.fb_item2 p {
  text-align: center;
  width: 45%;
  color: #8d8d8d;
  font-size: 10px;
}
.fb_item3 {
  display: flex;
  justify-content: center;
}
.fb_item3 img {
  height: 67px;
  width: 144px;
}
.fb_item4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fti4_left {
  display: flex;
  column-gap: 8px;
}
.fti4_left .fti4l_para p {
  font-size: 12px;
  color: #000;
}
.fti4l_img {
  display: flex;
  align-items: center;
}
.fti4l_img img {
  height: 19px;
  width: 19px;
}
.fti4_right ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fti4_right ul {
  display: flex;
  column-gap: 19px;
  font-size: 14px;
}
.fti4_right ul li span {
  margin-left: 19px;
  color: #000;
}
/* footer ends */
